@font-face {
    font-family: "minecraft";
    src: url("./minecraft.otf") format("opentype");
}

#chat-root {
    position: absolute;
    bottom: 0;
    left: 0;
    width: min(calc(100vw - 4em), 600px);
    height: 300px;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0, 0.25);
    font-family: "minecraft", sans-serif;
    color: white;
    font-size: 18px;
    line-height: 1.25;
    box-sizing: border-box;
    text-shadow: -2px 2px 0px black;
}

#chat-messages {
    width: 100%;
    height: calc(100% - 36px);
    padding: 6px;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 4px;
    box-sizing: border-box;
}

#chat-messages > div {
    word-wrap: break-word;
}

#chat-messages > .death {
    color: #ea3e3e;
}

#chat-messages > .joinquit {
    color: #fbd726;
}

#chat-input {
    background-color: transparent;
    width: 100%;
    height: 36px;
    padding: 6px;
    margin: 0;
    box-sizing: border-box;
    text-shadow: inherit;
}

#zoom-buttons > .chat-toggle {
    display: none;
    margin-bottom: 0.5em;
}
.control-bar > .chat-toggle {
    display: block;
}
@media (max-width: 575.98px) {
    #zoom-buttons > .chat-toggle {
        display: block;
    }
    .control-bar > .chat-toggle {
        display: none;
    }
}
