.gradle/
build/
out/
bin/
*.class
*.jar
!gradle-wrapper.jar

.vscode/

.idea/
.idea_modules/
*.iml
*.ipr
*.iws

*.log
*.zip
*.tar.gz
*.rar

*~
.directory
.Trash-*
.DS_Store
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
